.main-chat
  .group-info
    .group-info__groupName 
      =@group.name
      .group-info__groupMember 
        Member:
        - @group.users.each do |user|
          =user.name
    .group-info__groupEdit 
      =link_to edit_group_path(@group) do
        edit
  .message-list
    = render @messages
  -# .message-form
  -#   .message-form__box
  -#     %input.message-form__box__content{:placeholder => "Type text message"}
  -#     .message-form__box__pic
  -#       %label{class: "input-box__image"}
  -#         = icon('fas', 'image')
  -#         %input{type: "file",class: 'hidden'}
  -#   .message-form__submit
  -#     send
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'