.main-chat
  .group-info
    .group-info__groupName 
      =@group.name
      .group-info__groupMember 
        Member:
        - @group.users.each do |user|
          =user.name
    .group-info__groupEdit 
      =link_to edit_group_path(@group) do
        edit
  .message-list
    = render @messages
  -# .message-form
  -#   .message-form__box
  -#     %input.message-form__box__content{:placeholder => "Type text message"}
  -#     .message-form__box__pic
  -#       %label{class: "input-box__image"}
  -#         = icon('fas', 'image')
  -#         %input{type: "file",class: 'hidden'}
  -#   .message-form__submit
  -#     send
  -# .message-form
  = form_with model: [@group, @message], html: {class: "message-form"}, local: true do |f|
    .message-form__box
      = f.text_field :content, class: 'message-form__box__content', placeholder: 'type a message'
      .message-form__box__pic
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'message-form__submit'