.sideBar
  .sideBar__userName
    .sideBar__userName__list
      .sideBar__userName__list__name 
        = current_user.name
      .sideBar__userName__list__button 
        = link_to "#" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user)do
          = icon('fas', 'cog')
  .sideBar__groupList
    .sideBar__groupList__group
      .sideBar__groupList__group__name techcamp
      .sideBar__groupList__group__message まだメッセージ
